<h1>Articles and Products</h1>

<form action="/articles" method="GET" enctype="application/x-www-form-urlencoded">
  Click here to go to
  <input type="submit" value="Articles">
</form>

<form action="/products" method="GET" enctype="application/x-www-form-urlencoded">
  Click here to go to
  <input type="submit" value="Products">
</form>