<h1>Add Article:</h1>

<form action="/articles" method="POST" enctype="application/x-www-form-urlencoded">
  Title:
  <input type="text" name="title">
  Author:
  <input type="text" name="author">
  Body:
  <input type="text" name="body">
  <input type="submit">
</form>

{{#if errorData}}
{{#each errorData.errors}}
<h3>{{this}}</h3>
{{/each}}
{{/if}}